@model List<Proyecto_PrograAvanzadaWeb.Models.Producto>

@{
    ViewData["Title"] = "AgregarAlCarrito";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h1>Add to Cart</h1>

<form method="post" asp-action="AgregarAlCarrito"> 
    <label for="producto">Select a Product:</label>         
    <select id="producto" name="idProducto">                
        @foreach (var producto in Model)
        {
            <option value="@producto.IdProducto">@producto.Nombre - @producto.Precio.ToString("C")</option>
        }
    </select>
    <br />
    <label for="cantidad">Quantity:</label>
    <input type="number" id="cantidad" name="cantidad" value="1" min="1" required />
    <br />
    <button type="submit">Add to Cart</button>
</form>

<a asp-action="Index">Back to Cart</a>


