@model Login
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VeriFruit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col-6">
                        <label asp-for="Correo"></label>
                        <input asp-for="Correo" type="text" />
                        <span asp-validation-for="Correo"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Contraseña"></label>
                        <input asp-for="Contraseña" type="password" />
                        <span asp-validation-for="Contraseña"></span>
                    </div>
                    <div class="col-12 align-content-center">
                        <button class="btn btn-secondary" type="submit">Iniciar Sesión</button>
                    </div>
                </div>
            </form>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - VeriFruit - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
