@model string

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
<div class="container" style="background-color: #F6F4EB">
	
    <h2>Iniciar Sesión</h2>

    @if (!string.IsNullOrEmpty(Model))
    {
        <div class="alert alert-danger" role="alert">
            @Model
        </div>
    }

    <form asp-controller="Login" asp-action="Login" method="post">
        <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input type="email" class="form-control" id="correo" name="correo" required>
        </div>
        <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <input type="password" class="form-control" id="contrasena" name="contrasena" required>
        </div>
        <div style="text-align:center !important">
            <button type="submit" class="btn btn-outline-success">Iniciar Sesión</button>
            <a class="btn btn-outline-primary" asp-controller="Login" asp-action="Register">Registrarse</a>
        </div>
    </form>
</div>
