@model Proyecto_PrograAvanzadaWeb.Models.Producto

@{
    ViewData["Title"] = "Editar Producto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">

    <h1 class="text-center">Editar Producto</h1>

    <h4>Producto</h4>
    <hr />
    <div class="center-content">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdProducto" class="control-label">ID de Producto</label>
                    <input asp-for="IdProducto" class="form-control" disabled />
                    <span asp-validation-for="IdProducto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">Descripción</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label">Precio</label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="control-label">Stock</label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RutaImagen" class="control-label">Ruta de Imagen</label>
                    <input asp-for="RutaImagen" class="form-control" />
                    <span asp-validation-for="RutaImagen" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="Activo" />
                    <label class="form-check-label" for="Activo">@Html.DisplayNameFor(model => model.Activo)</label>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-outline-success" asp-controller="Producto" asp-action="Index">Regresar al listado</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
