@{
    ViewData["Title"] = "Politicas de Privacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    <h1>@ViewData["Title"]</h1>

                    <p>Año de última actualización: <script>document.write(new Date().getFullYear());</script></p>

                    <p>En VEGEFOODS nos se compromete a proteger y respetar su privacidad. Esta política de privacidad establece cómo recopilamos, utilizamos y protegemos 
                        la información personal que usted proporciona al visitar y utilizar nuestro sitio web.</p>

                    <p>Al utilizar el Sitio, usted acepta las prácticas descritas en esta Política. Si no está de acuerdo con esta Política, le recomendamos que no utilice el 
                        Sitio.</p>

                    <h2>Información que recopilamos</h2>

                    <p>Podemos recopilar y procesar la siguiente información sobre usted:</p>

                    <ul>
                        <li>Información que usted proporciona voluntariamente al completar formularios en el Sitio, incluyendo su nombre, dirección de correo electrónico y otros 
                            datos personales.</li>
                        <li>Información que recopilamos automáticamente cuando usted visita el Sitio, incluyendo su dirección IP, tipo de navegador, dispositivo utilizado, páginas 
                            visitadas y la duración de su visita.</li>
                        <li>Cookies y tecnologías similares: Utilizamos cookies y tecnologías similares para mejorar su experiencia en el Sitio y recopilar información sobre cómo 
                            lo utiliza. Puede obtener más información sobre el uso de cookies en nuestra Política de Cookies.</li>
                    </ul>

                    <h2>Uso de la información</h2>

                    <p>Utilizamos la información personal que recopilamos para los siguientes fines:</p>

                    <ul>
                        <li>Para proporcionar y gestionar los servicios y productos que solicite.</li>
                        <li>Para mejorar y personalizar su experiencia en el Sitio.</li>
                        <li>Para enviarle información sobre nuestros productos, servicios, ofertas y promociones, siempre que haya dado su consentimiento para recibir dichas 
                            comunicaciones.</li>
                        <li>Para responder a sus consultas y proporcionar asistencia al cliente.</li>
                        <li>Para cumplir con nuestras obligaciones legales y resolver disputas.</li>
                    </ul>


                    <p>Si tiene alguna pregunta o inquietud sobre esta Política o sobre cómo manejamos su información personal, puede comunicarse con nosotros.</p>

                    <p>Al utilizar el Sitio, usted acepta y consiente el procesamiento de su información personal de acuerdo con los términos de esta Política de Privacidad.</p>
                </div>
            </div>
        </div>
    </section>
</body>

